
html, body {
	height: 100%;
}

a, button {
	outline: 0 !important;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.img-responsive {
	width: 100%;
}

.img-height-responsive{
	width: auto;
	height: 100%;
}

.va{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);  
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.entoria-wrapper,
.corousel-entoria {
	height: 100%;
}

.corousel-entoria {
	position: fixed;
}

.carousel-inner,
.carousel-inner
.item
.img-carousel {
	height: 100%;
	width: auto;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

.carousel-control.right span,
.carousel-control.left span {
	font-size: 6rem;
}

.entoria-wrapper
.fondo-entoria-mobile {
	height: 100%;	
	background: url('../img/04.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
}

.contenido-entoria {
	position: absolute;
	margin-top: 25px;
}

.contenido-entoria-logo
.container-logo-entoria {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 20px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.contenido-info-entoria
.img-proximamente,
.contenido-info-entoria
.info-entoria {
	background-color: rgba(58, 151, 87, 0.65);
}

.contenido-info-entoria
.info-entoria {
	margin-bottom: 25px;
}

.contenido-info-entoria
.img-proximamente {
	padding-top: 30px;
	padding-bottom: 35px;
}

.contenido-info-entoria
.info-entoria
.info-contacto2 {
	padding-top: 10px;
	padding-bottom: 20px;
}

.contenido-info-entoria
.info-entoria p {
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(204, 204, 204, 0.45);
}

.contenido-info-entoria
.info-entoria p a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
}

.contenido-info-entoria
.info-entoria p i {
	font-size: 2.2rem;
}

.contenido-entoria hr {
	border-top: 1px solid #FFF;
}

.idiomas {
	background-color: rgba(255, 255, 255, 0.75);
}

.idiomas a {
	color: #77797D;
	font-weight: bold;
}


@media screen and (min-width: 768px) {
	
	.contenido-info-entoria
	.info-entoria
	.info-contacto2 {
		padding-top: 0px;
		padding-bottom: 20px;
	}

	.contenido-info-entoria
	.info-entoria
	.info-contacto	{
		border-right: 1px solid #FFF;
	}

}